<!DOCTYPE html>
<html lang="en" ng-app="eduExploreApp">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>eduExplore</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="/img/custom.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-route.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
      <script src="controller.js"></script>
   </head>
   <body>
      <div class="container-fluid" id="container" ng-controller="eduExploreController">
         <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <a class="navbar-brand" rel="home" href="/" title="eduExplore">
            <img class="img-responsive" src="/img/logo-sm.png">
            </a>
            <div class="navbar-header pull-left">
               <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
                  <li class="active"><a href="/universities">Universities</a></li>
                  <li><a href="/about">About</a></li>
               </ul>
            </div>
         </div>
         <div class="input-group">
            <input id="university" type="text" class="form-control" ng-model="university" 
               typeahead="university as university.name for university in ::universitiesTypeahead | filter:{name:$viewValue} | limitTo: 20" 
               placeholder="Type university name here..."
               typeahead-min-length = "2"
               typeahead-on-select="fetchUniversity(university._id)">
            <span class="input-group-btn">
            <button class="btn btn-md btn-primary" title="Add New University"
               ng-click="createNewUniversity()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>University</button>	
            </span>
         </div>
         <hr>
         <div class="form-group pull-center">
            <button class="btn btn-primary" ng-click="prevPage()" ng-disabled="currentPage == 1">Previous</button>
            <button class="btn btn-primary" ng-click="nextPage()">Next</button>
         </div>
         <div id="listUniversities" ng-if="universities.length > 0">
            <table class="table table-bordered">
               <tr>
                  <th>University</th>
                  <th width="15%">Address</th>
                  <th width="10%">City</th>
                  <th width="5%">State</th>
                  <th width="5%">Zip</th>
                  <th width="10%">Websites</th>
                  <th width="15%" >Action</th>
               </tr>
               <tr ng-repeat="university in universities">
                  <td><span class="highlight">{{::university.name}}</span></td>
                  <td>{{::university.address}}</td>
                  <td>{{::university.city}}</td>
                  <td>{{::university.state}}</td>
                  <td>{{::university.zip}}</td>
                  <td>
                     <a target="_blank" ng-if="university.webURL" href="{{::university.webURL}}">Website</a> <br/>
                     <a target="_blank" ng-if="university.adminURL" href="{{::university.adminURL}}">Admissions</a> <br/>
                     <a target="_blank" ng-if="university.aidURL" href="{{::university.aidURL}}">Aid</a> <br/>
                     <a target="_blank" ng-if="university.applyURL" href="{{::university.applyURL}}">Apply</a> <br/>
                     <a target="_blank" ng-if="university.priceURL" href="{{::university.priceURL}}">Price</a>
                  </td>
                  <td >
                     <button class="btn btn-sm btn-primary" ng-click="fetchUniversity(university._id)"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit University"></span></button>
                     <button class="btn btn-sm btn-primary" ng-click="deleteUniversity(university._id)"><span class="glyphicon glyphicon-remove" aria-hidden="true" title="Delete University"></span></button>
                     <button class="btn btn-sm btn-primary" ng-click="createNewProgram(university._id)"><span class="glyphicon glyphicon-plus" aria-hidden="true" title="Add New Program"></span>Program</button>
                  </td>
               </tr>
            </table>
         </div>
      </div>
      <div class="footer">
           Developed by <a target="_blank" href="https://www.nvarma.com">Navin Varma</a>
      </div>
   </body>
</html>